<div class="container" ng-controller="deleteCtrl">
    <div class="row">
        <table class="companies" ng-show="data.length">
            <tr class="headers">
                <td>Name</td>
                <td>Earnings</td>
                <td>Edit</td>
                <td>Delete</td>
            </tr>
            <tr ng-repeat="company in data">
                <td class="name">
                    {{ company.name }}
                </td>
                <td class="earnings">
                    {{ company.earnings | currency : '$' : 0 }}
                </td>
                <td class="edit">
                    <a href="companies/edit/{{ company._id }}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                </td>
                <td class="delete">
                    <a href="#" ng-click="deleteCompany(company._id)"><i class="fa fa-trash" aria-hidden="true"></i></a>
                </td>
            </tr>
        </table>
    </div>
</div>
